<nav>
  {% render 'header' %}
</nav>


{% schema %}
{
  "name": "Navigation Bar",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    }
  ]
}
{% endschema %}
