/* Brand color and font variables */
:root {
  --rivo-color-teal: #029c9f;
  --rivo-color-text: #1c2820;
  --rivo-color-navy: #003e75;
  --rivo-color-powder-blue: #F0F4FA;
  --rivo-color-cream: #faf2ed;
  --rivo-color-pale-yellow: #ffe5a6;
  --rivo-color-input-background: #f5f5f5;
  --rivo-heading-font: "Bookmania W01 Bold", serif;
  --rivo-subheading-font: "TT Norms Regular", Arial, sans-serif;
}

body {
  font-family: var(--rivo-subheading-font);
   font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  font-feature-settings: "liga" 0, "clig" 0, "calt" 0;
}

.heading {
  font-family: var(--rivo-heading-font);
}

.ls-1 {
  letter-spacing: 0.5px;
}
.subheading.fw-medium {
  font-family: "TT Norms Medium", Arial, sans-serif;
}

.subheading.fw-bold {
  font-family: "TT Norms Bold", Arial, sans-serif;
}

.subheading.fw-bolder {
  font-family: "TT Norms ExtraBold", Arial, sans-serif;
}

.bg-primary {
  background-color: var(--rivo-color-navy)!important;
}

.bg-secondary {
  background-color: var(--rivo-color-teal);
}

.bg-light {
  background-color: var(--rivo-color-powder-blue) !important;
}

.bg-dark {
  background-color: var(--rivo-color-text)!important;
}

.text-primary {
  color: var(--rivo-color-navy)!important;
}

.text-secondary {
  color: var(--rivo-color-teal)!important;
}

.text-light {
  color: var(--rivo-color-powder-blue)!important;
}

.text-dark {
  color: var(--rivo-color-text)!important;
}

.btn-primary {
  background-color: var(--rivo-color-teal);
  border: none;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: #027c7e;
}